.burgerConstructorList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-height: 465px;
  overflow-x: hidden;
}

.burgerConstructorListWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 2px dashed transparent;
}

.burgerConstructorList::-webkit-scrollbar {
  width: 8px;
}
.burgerConstructorList::-webkit-scrollbar-track {
  background-color: #2f2f37;
}
.burgerConstructorList::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.burgerConstructorFixed {
  display: flex;
  justify-content: center;
}
