body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --darkGreyColor: #8585ad;
  --whiteColor: #fff;
  --interface: #4c4cff;
  --blackColor: #000000;
  --modalBackground: #1c1c21;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
}
